[user]
	email = jay_s6215@hotmail.com
	name = rabbit125
[github]
	user = rabbit125
[color]
	branch = auto
	diff = auto
	log = auto
	status = auto
	ui = true
[core]
	editor = vim
[alias]
	br = branch
	co = checkout
	ci = commit
	df = diff
	lg = log --decorate
	rb = rebase
	st = status
[push]
	default = matching
