### Bash tab completion with one tab ###
## https://liquidat.wordpress.com/2008/08/20/short-tip-bash-tab-completion-with-one-tab/
set show-all-if-ambiguous on
"[1~": beginning-of-line
"[4~": end-of-line

set meta-flag on
set convert-meta off
set output-meta on
